body {
    background-image: url(https://img.magnific.com/premium-photo/cute-anime-girl-wallpaper_776894-106531.jpg?semt=ais_hybrid&w=740&q=80) ;
    background-size: 700px 500px;
    background-repeat: repeat-y;
}